@tailwind base;
@tailwind components;
@tailwind utilities;
/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* scrollbar thickness */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thick;
  scrollbar-color: #888 #f1f1f1;
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.no-click {
  pointer-events: none;
}
